.PageLayout {
  background-image: url("../../assets/images/login-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 975px;
  min-width: 1195px;
  display: flex;
  flex-direction: row;
}

.RightSideContent {
  min-width: 850px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 305px;
}
