.LoanFormWrapper {
  width: 100%;
  min-width: 712px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  margin-top: 5%;
  margin-bottom: 5%;
}

.LoanFormHeader {
  width: 100%;
  height: 50px;
  border-bottom: 5px double black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  font-style: oblique;
  font-weight: 700;
}

.LoanForm {
  width: 100%;
  min-width: 712px;
  background-color: white;
  margin: 5% 0 2% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}

.InputContent {
  box-sizing: border-box;
  width: 90%;
  min-width: 670px;
  border: 5px double black;
  margin: 25px;
  padding: 0 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.InputContent input::-webkit-outer-spin-button,
.InputContent input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.InputContent input[type="number"] {
  -moz-appearance: textfield;
}

.Label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  font-style: oblique;
  width: 300px;
}

.CurrencyLabel {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 600;
  font-style: oblique;
  align-items: center;
  justify-content: space-evenly;
}

.FromAccount {
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 0;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.FromAccount:focus {
  border: 2px solid rgba(0, 212, 255, 1);
}

.ReceiveAccount {
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 0;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.ReceiveAccount:focus {
  border: 2px solid rgba(0, 212, 255, 1);
}

.TotalAmount {
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 0;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.TotalAmount:focus {
  border: 2px solid rgba(0, 212, 255, 1);
}

.Participation {
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 0;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.Participation:focus {
  border: 2px solid rgba(0, 212, 255, 1);
}

.Currency {
  box-sizing: border-box;
  height: 40px;
  width: 120px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 6px #ccc;
  font-size: 16px;
  font-weight: 700;
  color: #444;
  padding: 0.6em 1.4em 0.5em 0.8em;
}

.Currency:focus {
  border: 2px solid rgba(0, 212, 255, 1);
}

.StartDate {
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 0;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.StartDate:focus {
  border: 2px solid rgba(0, 212, 255, 1);
}

.EndDate {
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 0;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.EndDate:focus {
  border: 2px solid rgba(0, 212, 255, 1);
}

.Purpose {
  box-sizing: border-box;
  resize: none;
  width: 300px;
  height: 80px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.Purpose:focus {
  border: 2px solid rgba(0, 212, 255, 1);
}

.Collateral {
  box-sizing: border-box;
  resize: none;
  width: 300px;
  height: 80px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.Collateral:focus {
  border: 2px solid rgba(0, 212, 255, 1);
}

.SubmitButtonWrapper > input {
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: black;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.SubmitButtonWrapper > input:hover {
  opacity: 0.7;
}

.Error {
  margin-top: 5px;
  box-sizing: border-box;
  height: 30px;
  color: red;
}
